/* styles/main.css */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 20px;
}

h1 {
    color: #283749;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #1565c0;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0d47a1;
}

/* Common styles for both pages */
#productList {
    list-style: none;
    padding: 0;
}

.product-container {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-container span {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.product-container button {
    background-color: #d32f2f;
    color: #fff;
    padding: 8px 12px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.product-container button:hover {
    background-color: #b71c1c;
}

/* Additional styles for the warehouse page */
.welcome-container {
    background-color: #d6e4f4;
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Styles for the warehouse page's product list */
.warehouse-container {
    background-color: #fff; /* Change background color to white */
    padding: 15px; /* Reduce padding */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* Apply webshop styles to the product containers in the warehouse page */
.warehouse-container .product-container {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.warehouse-container .product-container span {
    font-weight: bold;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

.warehouse-container .product-container button {
    background-color: #d32f2f;
    color: #fff;
    padding: 8px 12px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.warehouse-container .product-container button:hover {
    background-color: #b71c1c;
}
